<!-- Print out all of the errors if there are any -->
<!-- #  id              :integer          not null, primary key
#  email           :string
#  first_name      :string
#  last_name       :string
#  address         :string
#  mobile          :text
#  image           :text
#  admin           :boolean          default(FALSE)
#  password_digest :text
#  created_at      :datetime         not null
#  updated_at      :datetime         not null -->
<% unless @user.errors.full_messages.empty? %>
  <% @user.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>
<%= link_to "Delete Account", user_path( @current_user.id ), :method => :delete, :class => "delete_account" %>

<div class = "sign_up">
<%= form_for @user do |f| %>
  <p>
    <%= f.email_field :email, :required => true , :placeholder => "Email"%>
  </p>
  <p>
    <%= f.text_field :first_name, :required => true, :placeholder => "First Name" %>
  </p>
  <p>
    <%= f.text_field :last_name, :required => true , :placeholder => "Last Name"%>
  </p>
  <p>
    <%= f.url_field :password, :required => false , :placeholder => "Enter profile picture"%>
  </p>
  <p>
    <%= f.text_field :address, :required => true, :placeholder => "Postal Address" %>
  </p>
  <p>
    <%= f.telephone_field :mobile, :required => true , :placeholder => "Mobile Number"%>
  </p>
  <p>
  <p>
    <%= f.password_field  :password, :required => true, :placeholder => "Password" %>
  </p>
  <p>
    <%= f.password_field :password_confirmation, :required => true , :placeholder =>"Confirm Password"%>
  </p>
<<%= f.submit "Edit" %>

<% end %>

</div>
