<!-- <h2 class="heading"><%#= @animal.species %></h2> -->
<nav class="navigation-left">
  <%= link_to "All animals", animals_path, :class => "all_animals"%>
  <% if @current_user == @animal.user %>
  <li class="dropdown">
    <a href="#" class="dropbtn">My Petsale</a>
    <div class="dropdown-content">
      <a href="a"></a><%= link_to "Edit Animal", edit_animal_path(@animal.id) %></a>
      <a href="#"></a><%= link_to "Delete Animal", @animal, :method => :delete, :data => { :confirm => "Are you sure?" } %></a>
    </div>
  </li>
  <% end %>

</nav>

<p>Breed: <%= @animal.breed %></p>

<p>Sex: <%= @animal.sex %></p>

<p>Date of birth: <%= @animal.dob %></p>

<p>Description: <%= @animal.description %></p>

<p>Price: <%= @animal.price %></p>

<% if @current_user == @animal.user %>
  <p>My Ad : <%= link_to(@animal.user.first_name, @animal.user) %></p>
<% elsif @animal.user %>
  <p>Contact Seller : <%= link_to(@animal.user.first_name, @animal.user) %></p>
<% end %>

<hr>

<div class="scroller">
  <% @animal.images.each do |i| %>
    <%= cl_image_tag(i, :class => 'animal_display_image')%>
  <% end %>
</div>


<hr>
<h3>Comments</h3>

<% @animal.comments.order("created_at ASC").each do |c| %>
    <ul>
      <li><%= c.user.first_name if c.user %> Says :<%= c.body %></li> <br>

    </ul>
<% end %>
<br>
<h3>Add a comment below:</h3>
<%= render 'comments/form' %>
