
<div class="scroller center-block">
  <% @animal.images.each do |image| %>
  <div class="thumbnail">
    <%= cl_image_tag(image)%>
  </div>
  <% end %>
</div>

<div class="row">
  <div class="show-form">
    <p>Animal Type: <%= @animal.species %></p>
    <p>Breed: <%= @animal.breed %></p>
    <p>Sex: <%= @animal.sex %></p>
    <p>Date of birth: <%= @animal.dob %></p>
    <p>Description: <%= @animal.description %></p>
    <p>Price: <%= @animal.price %></p>
    <p>Location : <%= @animal.address %></p>

    <% if @current_user != @animal.user %>
      <p>Contact Seller :
        <td>
          <%= link_to user_path(@animal.user), class: 'action-button' do %> <%= "#{@animal.user.first_name}" %><% end %>
        </td>
      </p><br>
      <%else%>
        <td>
          <%= link_to edit_animal_path(@animal.id), class: 'action-button' do %>Edit<% end %>
        </td>
        <td>
          <%= link_to @animal, :method => :delete, :data => { :confirm => "Are you sure?" }, class: 'action-button' do %>Delete<% end %>
        </td>
    <% end %>

    <%= content_tag :div, class: "lat", data: {lat: @animal.latitude} do %>
    <%end%>
    <%= content_tag :div, class: "lng", data: {lng: @animal.longitude} do %>
    <%end%>
    <p id="lat_id"><%= @animal.latitude %></p>
    <p id="lng_id"><%= @animal.longitude %></p>
      <div id="map"></div>
  </div>
</div>

<div class="row">
  <div class="comment-form">
    <h4>Comments</h4>
    <% @animal.comments.order("created_at ASC").each do |c| %>
      <p><strong><%= c.user.first_name if c.user %></strong>: "<%= c.body %>"</p>
    <% end %>
    <br>
    <%= render 'comments/form' %>
  </div>
</div>
