<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-Jcwb5bQHf6lfuntM3n8rRamkTu5Gdjw&callback=initMap" async defer></script>

  <div class="scroller">
    <% @animal.images.each do |i| %>
      <%= cl_image_tag(i)%>
    <% end %>
  </div>

<div class="row">
  <div class="show-form">
    <p>Animal Type: <%= @animal.species %></p>
    <p>Breed: <%= @animal.breed %></p>
    <p>Sex: <%= @animal.sex %></p>
    <p>Date of birth: <%= @animal.dob %></p>
    <p>Description: <%= @animal.description %></p>
    <p>Price: <%= @animal.price %></p>
    <p>Location : <%= @animal.address %></p>

    <% if @current_user != @animal.user %>
      <p>Contact Seller :
      <td>
        <%= link_to user_path(@animal.user), class: 'action-button' do %> <%= "#{@animal.user.first_name}" %><% end %>
      </td>
    </p><br>
    <% end %>

    <%= content_tag :div, class: "lat", data: {lat: @animal.latitude} do %>
    <%end%>
    <%= content_tag :div, class: "lng", data: {lng: @animal.longitude} do %>
    <%end%>
    <p id="lat_id"><%= @animal.latitude %></p>
    <p id="lng_id"><%= @animal.longitude %></p>
      <div id="map"></div>
  </div>
</div>

<div class="row">
  <div class="form">
    <h4>Comments</h4>

    <% @animal.comments.order("created_at ASC").each do |c| %>
      <p><%= c.user.first_name if c.user %> Says :<%= c.body %></p>
    <% end %>
    <br>
    <h4>Add a comment below:</h4>
    <%= render 'comments/form' %>
  </div>
</div>
