<!-- <h2 class="heading"><%#= @animal.species %></h2> -->
<nav>
  <% if @current_user == @animal.user %>
    <div class="dropdown">
    <span>My petsale</span>
    <div class="dropdown-content">
      <p><%= link_to "Edit Animal", edit_animal_path(@animal.id) %> </p>
      <p><%= link_to "Delete Animal", @animal, :method => :delete, :data => { :confirm => "Are you sure?" } %> </p>
    </div>
    </div>
  <% end %>
</nav>

<p>Breed: <%= @animal.breed %></p>

<p>Sex: <%= @animal.sex %></p>

<p>Date of birth: <%= @animal.dob %></p>

<p>Description: <%= @animal.description %></p>

<p>Price: <%= @animal.price %></p>

<% if @current_user == @animal.user %>
  <p>My Ad : <%= link_to(@animal.user.first_name, @animal.user) %></p>
<% elsif @animal.user %>
  <p>Contact Seller : <%= link_to(@animal.user.first_name, @animal.user) %></p>
<% end %>

<div class="controls">
  <div class= "all_animals" > <%= link_to "All animals", animals_path %></div>
</div>





<hr>

<div class="scroller">
  <% @animal.image.each do |i| %>
<%= cl_image_tag(i, :class => 'animal_display_image')%>
  <% end %>
</div>







<hr>
<h3>Comments</h3>

<% @animal.comments.order("created_at ASC").each do |c| %>
    <ul>
      <li><%= c.body %><br></li>
    </ul>
<% end %>
<!-- Edit or delete a comment -->
<h3>Add a comment below:</h3>
<%= render 'comments/form' %>
