<h2 class="heading"><%= @animal.species %></h2>
<%= image_tag(@animal.images, :class => 'animal_display_image') %>

<p>Breed: <%= @animal.breed %></p>

<p>Sex: <%= @animal.sex %></p>

<p>Date of birth: <%= @animal.dob %></p>

<p>Description: <%= @animal.description %></p>

<p>Price: <%= @animal.price %></p>

<% if @animal.user %>
  <p>Owner: <%= link_to(@animal.user.first_name, @animal.user) %></p>
<% end %>

<div class="controls">

</div>
<nav>
    <div class= "all_animals" > <%= link_to "All animals", animals_path %></div>

    <div class="dropdown">
      <span>Mouse over me</span>
      <div class="dropdown-content">
        <p><%= link_to "Sell New Animal", new_animal_path(@animal) %> </p>
        <p><%= link_to "Edit Animal", edit_animal_path(@animal) %> </p>
        <p><%= link_to "Delete Animal", @animal, :method => :delete, :data => { :confirm => "Are you       sure?" } %> </p>
      </div>
    </div>

</nav>
<hr>
<h3>Comments</h3>

<% @animal.comments.order("created_at ASC").each do |c| %>
    <ul>
      <li><%= c.body %><br></li>
    </ul>
<% end %>
<!-- Edit or delete a comment -->
<h3>Add a comment below:</h3>
<%= render 'comments/form' %>
