<h2 class="heading"><%= @animal.species %></h2>

<%= image_tag(@animal.images, :class => 'animal_display_image') %>

<p>Breed: <%= @animal.breed %></p>

<p>Sex: <%= @animal.sex %></p>

<p>Date of birth: <%= @animal.dob %></p>

<p>Description: <%= @animal.description %></p>

<p>Price: <%= @animal.price %></p>

<% if @animal.user %>
  <p>Owner: <%= link_to(@animal.user.first_name, @animal.user) %></p>
<% end %>

<div class="controls">
  <%= link_to "Edit Animal", edit_animal_path(@animal) %>
  <%= link_to "Delete Animal", @animal, :method => :delete, :data => { :confirm => "Are you sure?" } %>
</div>
