<!DOCTYPE html>
<html>
<head>
  <title>pet_rescue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>
<body class='<%=controller_name%> <%=action_name %>'>

  <% if flash[:success] %>
    <h1><%= flash[:success] %></h1>
  <% end %>
  <% if flash[:error] %>
    <!-- <h1><%#= flash[:error] %></h1> -->
  <% end %>

  <nav class = "navigtion_landing_page">

    <% unless @current_user.present? %>
      <!-- <%#= link_to( "Login", login_path(), :class => 'btn_login' ) %> -->
      <%= link_to( "Sign up", new_user_path(), :class =>"btn_signup" ) %>
    <% else %>
      <%= link_to( "Log out", logout_path(), :method => :delete, :class => "btn_logout") %>
      <p><%= link_to "Post a pet", new_animal_path %> </p>
      <p>
      Logged in as: <%=  @current_user.first_name %>
      </p>



    <% end %>
  </nav>
   <div class="container">
    <%= yield %>
  </div>

</body>
</html>
