<!DOCTYPE html>
<html>
<head>
  <title>pet_rescue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>
<body class='<%=controller_name%> <%=action_name %>'>

  <% if flash[:success] %>
    <h1><%= flash[:success] %></h1>
  <% end %>
  <% if flash[:error] %>
    <!-- <h1><%#= flash[:error] %></h1> -->
  <% end %>

  <nav class = "navigtion_landing_page">

    <% unless @current_user.present? %>
      <%= link_to( "Login", login_path(), :class => 'btn_login' ) %>
      <%= link_to( "Sign up", new_user_path(), :class =>"btn_signup" ) %>
    <% else %>
      <%= link_to( "Log out", logout_path(), :method => :delete) %>
      <p><%= link_to "Post a pet", new_animal_path %> </p>

      <div class="dropdown">
      <span>My petsale</span>
      <div class="dropdown-content">
        <p><%= link_to "Edit Animal", edit_animal_path(@animal) %> </p>
        <p><%= link_to "Delete Animal", @animal, :method => :delete, :data => { :confirm => "Are you       sure?" } %> </p>
      </div>
      </div>

    <% end %>
  </nav>
   <div class="container">
    <%= yield %>
  </div>

</body>
</html>
