<!DOCTYPE html>
<html>
<head>
  <title>pet_rescue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>
<body class='<%=controller_name%> <%=action_name %>'>

  <% if flash[:success] %>
    <h1><%= flash[:success] %></h1>
  <% end %>
  <% if flash[:error] %>
  <% end %>

  <nav class = "navigtion_landing_page">

    <% unless @current_user.present? %>
      <%= link_to( "Sign up", new_user_path(), :class =>"btn_signup" ) %>
    <% else %>
      <div>Welcome <%=  @current_user.first_name %></div>
      <%= link_to( "Log out", logout_path(), :method => :delete, :class => "btn_logout") %>
      <%= link_to "Post a pet", new_animal_path, :class =>"post_new_pet"%>
      <%= link_to "Edit your Profile", edit_user_path(@current_user.id) %>
      <%= link_to "Delete Account", user_path( @current_user.id ), :method => :delete, :class => "delete_account" , :data => { :confirm => "Are you sure?" }%>
      <%= link_to "All Animal", animals_path %>

    <% end %>
  </nav>

   <div class="container">
    <%= yield %>
  </div>

</body>
</html>
